---
layout: default
title: Mike Hall | Software Developer
description: Do you want an experienced developer on your team who is skilled in building HTTP APIs and backend systems with strong Ruby skills? Then hire me today!
keywords: Software Developer,Ruby,Ruby on Rails,PostgreSQL,HTML,API,REST,Linux,Rails,Postgres,HTTP,RESTful,WebDev,CSS,RSpec,TDD,BDD,AOP,JavaScript,HTML5
---

<article class="resume-wrapper text-center position-relative">
  <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
    {% include resume/header.html.liquid %}

    <div class="resume-body p-5">
      {% include resume/summary.html.liquid %}

      <div class="row">
        <div class="col-lg-9">
          <section class="resume-section experience-section mb-5">
            <h2
              class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
            >
              Work Experience
            </h2>
            <div class="resume-section-content">
              <div class="resume-timeline position-relative">
                {% include resume/timeline.html.liquid %}
              </div>
            </div>
          </section>
        </div>
        <div class="col-lg-3">
          <section class="resume-section skills-section mb-5">
            <h2
              class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
            >
              Skills &amp; Tools
            </h2>
            <div class="resume-section-content">
              {% include resume/skills-tools.html.liquid %}
            </div>
          </section>

          <section class="resume-section interests-section mb-5">
            <h2
              class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
            >
              Interests
            </h2>
            <div class="resume-section-content">
              <ul class="list-unstyled">
                <li class="mb-1">Bicycling</li>
                <li class="mb-1">Comic Books</li>
                <li class="mb-1">Family</li>
                <li class="mb-1">Podcasts</li>
                <li class="mb-1">Reading</li>
                <li class="mb-1">Skateboarding</li>
                <li class="mb-1">User-groups</li>
                <li class="mb-1">Volunteering</li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</article>
